$font-stack: Helvetica, sans-serif;
$primary-color: #80cfa9;
$secondary-color: #4c6663;
$twilightBlack: #1a1a1a;
$twilightWhite: #f8f3f3;

$max-width-desktop: 1000px;
  
body {
  font: 100% $font-stack; 
  margin: 0;
  display: flex;
  box-sizing: border-box;
}

